<div class="device-panel" ng-show="i.guiFilter('ALARM')">
    <div class="mqtt" <div ng-show="showMqttTopics">
        <span class="item">[{{i.type}}]</span>
        <span class="text-primary">{{i.device.mqtt_subscribe_topic}}</span>
        <span class="text-danger">{{i.device.mqtt_publish_topic}}</span>
    </div>
    <div class="device" style="overflow: auto;">
        <div class="device-label">
            <span class="mdi mdi-shield-home device-icon"/>
            <span class="device-name">{{i.name}}</span>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.showDeviceCommands = !i.device.showDeviceCommands">
                <span class="mdi mdi-dots-horizontal"></span>
            </button>
        </div>
        <div class="state-container">
            <span class="state" ng-if="i.device.state.main == 'ARMING' || i.device.state.main == 'TRIGGERED'"
                ng-class="{ 'disarmed': i.device.state.main == 'DISARMED', 'arming': i.device.state.main == 'ARMING' , 'armed-home': i.device.state.main == 'ARMED_HOME' , 'armed-away': i.device.state.main == 'ARMED_AWAY' , 'triggered': i.device.state.main == 'TRIGGERED', 'activated': i.device.state.main == 'ACTIVATED'  }">
                    {{i.device.state.countdown}}
            </span>
            <span class="state"
                ng-class="{ 'disarmed': i.device.state.main == 'DISARMED', 'arming': i.device.state.main == 'ARMING' , 'armed-home': i.device.state.main == 'ARMED_HOME' , 'armed-away': i.device.state.main == 'ARMED_AWAY' , 'triggered': i.device.state.main == 'TRIGGERED', 'activated': i.device.state.main == 'ACTIVATED', 'unavailable': i.device.state.main == 'UNAVAILABLE' }"
                data-translate="home.alarm.{i.device.state.main}" ng-click='manualStateChange(i, [["ARMED_AWAY","{\"main\":\"ARMED_AWAY\"}"], ["ARMED_HOME","{\"main\":\"ARMED_HOME\"}"], ["DISARMED","{\"main\":\"DISARMED\"}"]])'>
                    {{i.device.state.main}} 
            </span>
            <span ng-textContent="i.device.lastUpdateDate" class="last-update"></span>
        </div>
    </div>
    <div ng-show="i.device.showDeviceCommands">    
        <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('arm')">
            <span class="mdi mdi-shield-lock">Arm Away</span>
        </button>
        <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('arm_home')">
            <span class="mdi mdi-shield-account">Arm Home</span>
        </button>
        <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('disarm')">
            <span class="mdi mdi-shield-off">Disarm</span>
        </button>
        <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('sos')">
            <span class="mdi mdi-home-sound-out">SOS</span>
        </button>
        
    </div>
</div>