<div ng-show="showMqttTopics">
    <span class="item">[{{i.type}}]</span>
    <span class="text-primary">{{i.device.url}}</span>
</div>
<div style="overflow: auto;">
    <div class="device-label">
        <span class="mdi mdi-camcorder device-icon"/>
        <span class="device-name">{{i.name}}</span>
    </div>
    <button type="button" class="btn btn-md btn-default"  ng-init="show=false" ng-click="show=!show">
        <span class="glyphicon glyphicon-eye-open" ng-if="show"/>
        <span class="glyphicon glyphicon-eye-close" ng-if="!show"/>
    </button>
    <div class="state-container">
        <!--
        ahat Note: using src will cause at first page load error
         GET http://localhost:9000/%7B%7B%20!show%20%7C%7C%20isCollapsedHouse%20%7C%7C%2…apsedFloor%20%7C%7C%20isCollapsedRoom%20?%20%27%27%20:%20i.device.url%20}} 404 (Not Found)
        which is harmless (it does not affect the page).
        Trying to solve this using ng-src is a bad solution because, although the error goes away, the img tag keeps downloading 
        from the specified url regardless of isCollapsedHouse || isCollapsedFloor || isCollapsedRoom
        -->
        <img src="{{ !show || isCollapsedHouse || isCollapsedFloor || isCollapsedRoom ? '' : i.device.url }}" ng-show="show"/>
    </div>
</div>