<div>
    <sms class="item" item='i' ng-if="i.type == 'SMS'" show-mqtt-topics="showMqttTopics"></sms>
    <modem class="item" item='i' ng-if="i.type == 'MODEM'" show-mqtt-topics="showMqttTopics"></modem>
        
    <alarm class="item" item='i' ng-if="i.type == 'ALARM' && filter.ALARM" show-mqtt-topics="showMqttTopics"></alarm>
    <door1 class="item" item='i' ng-if="i.type == 'DOOR1' && filter.DOOR" show-mqtt-topics="showMqttTopics"></door1>
    <door2r class="item" item='i' ng-if="i.type == 'DOOR2R' && filter.DOOR" show-mqtt-topics="showMqttTopics"></door2r>
    <window1 class="item" item='i' ng-if="i.type == 'WINDOW1' && filter.WINDOW" show-mqtt-topics="showMqttTopics"></window1>
    <window1r class="item" item='i' ng-if="i.type == 'WINDOW1R' && filter.WINDOW" show-mqtt-topics="showMqttTopics"></window1r>
    <window2r class="item" item='i' ng-if="i.type == 'WINDOW2R' && filter.WINDOW" show-mqtt-topics="showMqttTopics"></window2r>
    <light1 class="item" item='i' ng-if="i.type == 'LIGHT1' && filter.LIGHT" show-mqtt-topics="showMqttTopics"></light1>
    <light2 class="item" item='i' ng-if="i.type == 'LIGHT2' && filter.LIGHT" show-mqtt-topics="showMqttTopics"></light2>

    <!-- ahat note: the cameras need to know whether the house or floor or room they belong to is collapsed in order to change the img src to '#' and stop downloading the camera stream-->
    <ipcamera class="item" item='i' ng-if="i.type == 'IPCAMERA' && filter.CAMERA" show-mqtt-topics="showMqttTopics" is-collapsed-house="isCollapsedHouse" is-collapsed-floor="isCollapsedFloor" is-collapsed-room="isCollapsedRoom" ></ipcamera>
    <ipcamera-pan-tilt class="item" item='i' ng-if="i.type == 'IPCAMERAPANTILT' && filter.CAMERA" show-mqtt-topics="showMqttTopics" is-collapsed-house="isCollapsedHouse" is-collapsed-floor="isCollapsedFloor" is-collapsed-room="isCollapsedRoom" ></ipcamera-pan-tilt>
    <motion-camera class="item" item='i' ng-if="i.type == 'MOTIONCAMERA' && filter.MOTION" show-mqtt-topics="showMqttTopics" is-collapsed-house="isCollapsedHouse" is-collapsed-floor="isCollapsedFloor" is-collapsed-room="isCollapsedRoom" ></motion-camera>
    <motion-camera-pan-tilt class="item" item='i' ng-if="i.type == 'MOTIONCAMERAPANTILT' && filter.MOTION" show-mqtt-topics="showMqttTopics" is-collapsed-house="isCollapsedHouse" is-collapsed-floor="isCollapsedFloor" is-collapsed-room="isCollapsedRoom" ></motion-camera-pan-tilt>
    
    <temphum class="item" item='i' ng-if="i.type == 'TEMPERATURE_HUMIDITY' && filter.CLIMATE" show-mqtt-topics="showMqttTopics"></temphum>
    <net class="item" item='i' ng-if="i.type == 'NET' && filter.COVER" show-mqtt-topics="showMqttTopics"></net>
    <roller1 class="item" item='i' ng-if="i.type == 'ROLLER1' && filter.COVER" show-mqtt-topics="showMqttTopics"></roller1>
    <roller1auto class="item" item='i' ng-if="i.type == 'ROLLER1_AUTO' && filter.COVER" show-mqtt-topics="showMqttTopics"></roller1auto>
</div>