<div class="device-panel" ng-show="filter.MOTION">
    <div class="mqtt" ng-show="showMqttTopics">
        <span class="item">[{{i.type}}]</span>
        <span class="text-primary">{{i.device.mqtt_publish_topic}} {{i.device.cameraId}} {{i.device.videostream}}</span>
    </div>
    <div class="device" style="overflow: auto;" ng-init="showPicture=false; showVideostream=false">
        <div class="device-label">
            <span class="mdi mdi-camcorder device-icon"/>
            <span class="device-name">{{i.name}}</span>
        </div>
        <div class="state-container">
            <div class="state-row">
                <div class="last-update">{{i.device.lastDetection ? ( i.device.lastUpdate.toLocaleString()) : ''}}</div>
                <div class="state" ng-class="{ 'label-info': i.device.detection == 'NO_MOTION', 'label-danger': i.device.detection == 'MOTION_DETECTED' }" data-translate="{{'home.motion.detection.'+ i.device.detection}}"/>
            </div>
            <div class="state-row">
                <div class="last-update">{{i.device.lastUpdate ? ( i.device.lastUpdate.toLocaleString()) : ''}}</div>
                <div class="state" ng-class="{ 'label-success': i.device.state == 'ACTIVE', 'label-info': i.device.state == 'PAUSED', 'label-danger': i.device.state == 'CAMERA_LOST', 'unavailable': i.device.state == 'UNAVAILABLE' }" data-translate="{{'home.motion.state.'+ i.device.state}}"/>
            </div>
        </div>
        <div class="device-buttons">
            <button type="button" class="btn btn-md btn-default" ng-click="showPicture=!showPicture; showVideostream && showPicture ? showVideostream = false: null;" ng-disabled="i.device.picture == null">
                <span class="mdi mdi-camera" ng-if="showPicture"/>
                <span class="mdi mdi-camera-off" ng-if="!showPicture"/>
            </button>
            <button type="button" class="btn btn-md btn-default" ng-click="showVideostream=!showVideostream; showPicture && showVideostream ? showPicture = false: null;">
                <span class="mdi mdi-camcorder" ng-if="showVideostream"/>
                <span class="mdi mdi-camcorder-off" ng-if="!showVideostream"/>
            </button>
            <button type="button" class="btn btn-md btn-default" ng-click="i.device.getState()"><span class="glyphicon glyphicon-refresh"/></button>
            <button ng-if="i.device.state == 'ACTIVE'" type="button" class="btn btn-md btn-default" ng-click="i.device.pauseDetection()"><span class="glyphicon glyphicon-pause"/></button>
            <button  ng-if="i.device.state == 'PAUSED'" type="button" class="btn btn-md btn-default" ng-click="i.device.startDetection()"><span class="glyphicon glyphicon-play"/></button>
        </div>
        <div class="state-container">        
            <!--
            ahat Note: using src will cause at first page load error
            GET http://localhost:9000/%7B%7B%20!show%20%7C%7C%20isCollapsedHouse%20%7C%7C%2…apsedFloor%20%7C%7C%20isCollapsedRoom%20?%20%27%27%20:%20i.device.url%20}} 404 (Not Found)
            which is harmless (it does not affect the page).
            Trying to solve this using ng-src is a bad solution because, although the error goes away, the img tag keeps downloading 
            from the specified url regardless of isCollapsedHouse || isCollapsedFloor || isCollapsedRoom
            -->
            <img src="data:image/jpg;base64, {{i.device.picture}}" ng-show="showPicture"/>
            <img src="{{ !showVideostream || isCollapsedHouse || isCollapsedFloor || isCollapsedRoom ? '' : i.device.videostream }}" ng-show="showVideostream"/>
        </div>
    </div>
</div>
