<div class="device-panel" ng-show="i.guiFilter('SWITCH')">
    <div class="mqtt" ng-show="showMqttTopics">
        <span class="item">[{{i.type}}]</span>
        <span class="text-primary">{{i.device.mqtt_subscribe_topic}}</span>
        <span class="text-danger">{{i.device.mqtt_publish_topic}}</span>
    </div>

    <div class="device" style="overflow: auto;">
        <div class="device-label">
            <span class="mdi mdi-power-socket-fr device-icon"/>
            <span class="device-name">{{i.name}}</span>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.showDeviceCommands = !i.device.showDeviceCommands">
                <span class="mdi mdi-dots-horizontal"></span>
            </button>    
        </div>
        <div class="state-container">
            <!--Note: switch inputs are low positive as they come from an RPI i.e. a 1 means no signal in input, open relay at output, and a 0 means signal detected in input, close relay at output-->
            <div class="state-row">
                <div style="float:right;" class="state top" ng-class="{ 'warning': i.device.state.active == 0, 'info': i.device.state.active == 1, 'unavailable': i.device.state.active == 'UNAVAILABLE' }" data-translate="home.switch.{(i.device.state.active == 0 ? 'ACTIVE' : 'INACTIVE')}">
                    {{i.device.state.active == 0 ? 'ACTIVE' : 'INACTIVE' }}
                </div>
                <div style="float:right;" class="state top icon-only" ng-class="{ 'warning': i.device.state.overriden == 0, 'info': i.device.state.overriden == 1, 'unavailable': i.device.state.overriden == 'UNAVAILABLE' }">
                    <span class="mdi mdi-autorenew" ng-show="i.device.state.overriden == 0"></span>
                    <span class="mdi mdi-autorenew-off" ng-show="i.device.state.overriden == 1"></span>
                    <span class="mdi mdi-exclamation" ng-show="i.device.state.overriden != 0 && i.device.state.overriden != 1"></span>
                </div>               
                <div style="float:right;" class="state top icon-only" ng-class="{ 'warning': i.device.state.closed == 0, 'info': i.device.state.closed == 1, 'unavailable': i.device.state.closed == 'UNAVAILABLE' }">
                    <span class="mdi mdi-electric-switch" ng-show="i.device.state.closed == 1"></span>
                    <span class="mdi mdi-electric-switch-closed" ng-show="i.device.state.closed == 0"></span>
                    <span class="mdi mdi-exclamation" ng-show="i.device.state.closed != 0 && i.device.state.closed != 1"></span>
                </div>               
                <div style="float:right;" class="state top icon-only" ng-class="{ 'warning': i.device.state.enabled == 0, 'info': i.device.state.enabled == 1, 'unavailable': i.device.state.enabled == 'UNAVAILABLE' }">
                    <span class="mdi mdi-arrow-right-bold-circle-outline" ng-show="i.device.state.enabled == 0"></span>
                    <span class="mdi mdi-minus-circle-outline" ng-show="i.device.state.enabled == 1"></span>
                    <span class="mdi mdi-exclamation" ng-show="i.device.state.enabled != 0 && i.device.state.enabled != 1"></span>
                </div>               
                <div style="float:right;" class="state top icon-only" ng-class="{ 'warning': i.device.state.powered == 0, 'info': i.device.state.powered == 1, 'unavailable': i.device.state.powered == 'UNAVAILABLE' }">
                    <span class="mdi mdi-flash" ng-show="i.device.state.powered == 0"></span>
                    <span class="mdi mdi-flash-outline" ng-show="i.device.state.powered == 1"></span>
                    <span class="mdi mdi-exclamation" ng-show="i.device.state.powered != 0 && i.device.state.powered != 1"></span>
                </div>               
            </div>
            <div>
                <span ng-textContent="i.device.lastUpdateDate" class="last-update"></span>
            </div>
        </div>
    </div>
    <div ng-show="i.device.showDeviceCommands">    
        <div>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('enable')">
                <span class="mdi mdi-lightbulb-outline">Enable</span>
            </button>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('disable')">
                <span class="mdi mdi-lightbulb-off-outline">Disable</span>
            </button>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('override')">
                <span class="mdi mdi-electric-switch-closed">Override</span>
            </button>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('stop_override')">
                <span class="mdi mdi-electric-switch">Stop Override</span>
            </button>
            <button type="button" class="btn btn-xs btn-default" ng-click="i.device.sendCommand('report_status')">
                <span class="mdi mdi-list-status">Report Status</span>
            </button>            
        </div>
        <div>
            <div>State:</div>
            <div><span class="device-mqtt-state">{{i.device.mqtt_message}}</span></div>
        </div>
    </div>
    <!-- <div class="separator"></div> -->
</div>
